[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paho-mqtt = "*"
pydantic = "*"
pyyaml = "*"
logfmter = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
types-paho-mqtt = "*"
types-PyYAML = "*"

[requires]
python_version = "3.11"
